

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #92E6A7;
  animation: typing 8.5s steps(30, end) 0s infinite, blink-caret .75s step-end 9.5s infinite;
  vertical-align: bottom; 
  font-weight: bold;
  font-style: italic;
}

@keyframes typing {
  0%, 46.67% {
    width: 0;
  }
  46.67% {
    width: 52%;
  }
  100% {
    width: 52%;
  }
}

@keyframes blink-caret {
  0%, 100% { border-color: transparent; }
  25%, 75% { border-color: #92E6A7; } 
}
