body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('./assets/fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('./assets/fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('./assets/fonts/Chakra_Petch/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch Bold';
  src: url('./assets/fonts/Chakra_Petch/Chakra_Petch/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}