@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("/public/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk Bold";
  src: url("/public/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courier Prime";
  src: url("/public/assets/fonts/CourierPrime/CourierPrime-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Courier Prime Bold";
  src: url("/public/assets/fonts/CourierPrime/CourierPrime-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url("/public/assets/fonts/ChakraPetch/Chakra_Petch/ChakraPetch-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch Bold";
  src: url("/public/assets/fonts/ChakraPetch/Chakra_Petch/ChakraPetch-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("/public/assets/fonts/CabinetGrotesk/CabinetGrotesk-Bold.ttf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Hide scrollbars for all elements */
::-webkit-scrollbar {
  display: none;
}

/* For other browsers */
* {
  scrollbar-width: none; /* Firefox */
}

.menu-item {
  position: relative;
  display: inline-block;
}

.menu-item:hover:after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #92e6a7;
  width: 0;
  height: 0;
}

.social-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: transparent;
  padding-top: 10px;
  z-index: 1;
  transition: opacity 0.3s ease;
  opacity: 1;
  display: block;
}

.social-dropdown div {
  color: #92e6a7;
  padding: 5px 10px;
  text-align: left;
  cursor: pointer;
}

.typing-container {
  display: inline; /* Or `inline-block` if needed for other purposes */
  position: relative; /* To position the pseudo-element correctly */
  white-space: nowrap; /* Prevents text wrapping */
  overflow: hidden;
}

.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #92e6a7;
  animation: typing 4.5s steps(30, end) 0s infinite,
    blink-caret 0.75s step-end infinite;
  font-weight: bold;
  font-style: italic;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  25%,
  75% {
    border-color: #92e6a7;
  }
}
