@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: bold;
  src: url("SpaceGrotesk//SpaceGrotesk-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: normal;
  src: url("SpaceGrotesk/SpaceGrotesk-Regular.ttf") format("truetype");
  font-display: swap;
}
